---
---

@import "{{ site.theme }}";

#project-name {
    color: #FFF;
    text-decoration: none;
}

#project-name {
    color: #FFF;
    text-decoration: none;
}

#project-tagline {
    color: #FFF;
    text-decoration: none;
}

#project-tagline {
    color: #FFF;
    text-decoration: none;
}


